# The file path to an existing file.
# (Required)
FILE=C:\Games\World of Warcraft\_retail_\Logs\WoWCombatLog.txt

# The output directory for the splits.
# (Defaults to the input file directory)
DIR=C:\Games\World of Warcraft\_retail_\Logs

# The hour gap between timestamps.
# (Defaults to 1.0)
GAP=1.0
