# the input combat log file to process
FILE=C:\Games\World of Warcraft\_retail_\Logs\WoWCombatLog.txt

# the output location for splits
# (optional) defaults to the file directory
DIR=C:\Games\World of Warcraft\_retail_\Logs

# amount of hours between timestamps before a split occurs
# (optional) defaults to 1.0
GAP=1.0
